<% flash.each do |type, message| %>
  <div class="panel panel-danger alert alert-danger%> fade in">
    <button class="close danger" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>

