$('p').remove();
$('html').append('<div class="whole-page-div"><center class="blue" style="padding:50px;color:white;margin:30px;">You have successfully competed in this examination. Please wait till Sunday to hear your result</center></div>');
