<header id="header" class="">
   <div class="navbar-fixed">
      <nav class="">
         <div class="nav-wrapper">
            <ul class="left">
               <li>
                  <span class="logo-wrapper"><a href="#" class="brand-logo" style="text-decoration:none;padding:0 !important;"><span style="font-family:georgia;font-size:25px;color:#fff;">&nbsp;&nbsp;<%= link_to "PrepZone", root_path, class:"waves-effect waves-cyan",style:"font-family:georgia;font-size:25px;color:#fff;" %>
</span></a>
				               </li>
            </ul>
						<%= link_to "Logout  ", destroy_user_session_path, method: :delete, class:"waves-effect waves-cyan",style:"font-family:georgia;font-size:20px;color:rgb(255,0,0);float:right;padding:0 9px;border: 1px solid white;background:white;" %>
         </div>
      </nav>
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="#!">one</a></li>
		<li><a href="#!">two</a></li>
		<li class="divider"></li>
		<li><a href="#!">three</a></li>
	</ul>
   </div>
</header>

